.pokemon-list{
	width: 250px;
	float: left;
	border-right: 1px solid #ccc;
	height: calc(80% - $menu-height);
    top: $menu-height;
    bottom:0;
    position:fixed;
    overflow-y:scroll;
    overflow-x:hidden;
}

.search{
	padding: 5px;
}

.pokemon-item{
	width: 100%;
	padding: 10px;
	text-transform: capitalize;
	cursor: pointer;
	transition: background-color .3s;
	font-size: 16px;
	&:hover{
		//background-color: #ccc;
	}

	.fa{
		display: none;
		float: right;
	}

	&:hover .fa{
		display: block;
	}

	&.active{
		background-color: #6E86AB;
	}
}
@media screen and (max-width: $min-width){
	.search input{
		height: 50px !important;
		font-size: 20px;
	}
	.pokemon-list{
		width: 100%;
	}
	.pokemon-item{
		font-size: 20px;
		padding: 20px;
	}
	.no-result{
		font-size: 20px;
	}
}
@media screen and (max-width: $width-phone){
	.search input{
		height: 70px !important;
		font-size: 30px;
	}
	.pokemon-item{
		font-size: 30px;
		padding: 30px;
	}
	.no-result{
		font-size: 30px;
	}
}