.pokemon-detail{
	width: calc(100% - 250px);
	height: 100%;
	float: right;
    background-color: #fff;
    display: table;
	.image{
		width: 190px;
		float: left;
		text-align: center;
		img{
			width: 150px;
			height: 150px;
			margin-left: 10px;
		}
	}
	.content{
		float: left;
		width: calc(70% - 250px);
	}
	& > .title{
		margin-top: 0px;
		text-align: center;
		max-width: 750px;
		h1{
			small{
				font-size: 30px;
			}
		}
	}
	.attribute{
		background-color: #30a7d7;
		border-radius: 5px;
		padding: 10px;
		max-width: 500px;
		.skills{
			float: left;
			width: 25%;
			.title{
				width: 100%;
				text-align: center;
				font-size: 20px;
			}
			.value{
				width: 100%;
				text-align: center;
				font-size: 40px;
				color: #fff;
			}
		}
	}

	.types{
		.mainType{
			width: 31%;
			margin: 1%;
			text-align: center;
			height: 30px;
			border-radius: 5px;
			float: left;
			font-size: 20px;
			line-height: 30px;
		}
	}
    .moves{
        .filter-title{
            margin: 5px;
            margin-top: 10px;
        }
        .filter-item{
            float: left;
            padding: 5px;
            background-color: #ccc;
            border-radius: 5px;
            margin: 5px;
            cursor: pointer;
            &.active{
                background-color: #484848;
                color: #fff;
            }
        }
    	.move-container{
            margin-top: 10px;
    		.move-header{
    			width: 100%;
    			background-color: #ccc;
    			height: 50px;
    			border-radius: 5px;
    			border-top-right-radius: 5px;
    			margin-bottom: 5px;
    			border: 1px solid #484848;
    			.move-learn-type{
    				width: 50px;
    				float: left;
    				font-size: 30px;
    				text-align: center;
    			    padding-right: 0px;
    			    background-color: #484848;
    			    color: #fff;
    				border-top-left-radius: 3px;
    				border-bottom-left-radius: 3px;
    				height: 48px;
    				line-height: 50px;
    			}
    			.move-title{
    				width: calc(100% - 50px);
    				float: right;
    				font-size: 20px;
    				line-height: 50px;
    				padding-left: 10px;
    				span{
    					font-size: 16px;
    				}
    			}
    		}
    	}
    }
    .comment{
        width: 30%;
        height: 500px;
        float: right;
        margin-top: -50px;
        padding-right: 20px;
        .comment-list{
            margin-top: 10px;
        }
        .media-body{
            border-bottom: 1px solid #ccc;
        }

        .comment-title{
            margin-top: 30px;
            margin-bottom: 20px;
        }
    }

    .goBack{
        display: none;
    }
}

@media screen and (max-width: $min-width){
    .pokemon-detail{
        z-index: 40;
        width: 100%;
        .content{
            width: calc(100% - 250px);
        }
        .attribute{
            max-width: 100%;
        }
        .title{
            max-width: 100%;
        }
    }

    .goBack{
        display: block !important;
        width: 100%;
        background-color: #333;
        height: 80px;
        font-size: 30px;
        line-height: 80px;
        color: #fff;
        cursor: pointer;
    }
    
    .comment{
        width: 70% !important;
        margin-left: 15%;
        padding-top: 30px !important;
        float: none !important;
    }

    .clearSmall{
        clear: both;
    }
    .pokemon-select{
        display: none;
    }

    .isShowing{
        display: none;
    }
}

@media screen and (max-width: $width-phone){

    .pokemon-detail{
        z-index: 40;
        width: 100%;
        padding: 10px;
        .image{
            width: 100%;
            float: left;
            text-align: center;
            img{
                width: 150px;
                height: 150px;
                margin-left: 10px;
            }
        }
        .content{
            width: 100%;
        }
        .attribute{
            max-width: 100%;
        }
        .title{
            max-width: 100%;
        }
    }
    
    .comment{
        width: 100% !important;
        margin-left: 0%;
        padding-top: 30px !important;
        float: none !important;
    }
}

.background-color-bug {
    background: -webkit-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background: -ms-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background: -moz-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background: -o-linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background: linear-gradient(180deg, #729f3f 50%, #729f3f 50%);
    background-color: #729f3f;
    color: #fff
}
.background-color-dark {
    background: -webkit-linear-gradient(180deg, #707070 50%, #707070 50%);
    background: -ms-linear-gradient(180deg, #707070 50%, #707070 50%);
    background: -moz-linear-gradient(180deg, #707070 50%, #707070 50%);
    background: -o-linear-gradient(180deg, #707070 50%, #707070 50%);
    background: linear-gradient(180deg, #707070 50%, #707070 50%);
    background-color: #707070;
    color: #fff
}
.background-color-dragon {
    background: -webkit-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -ms-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -moz-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: -o-linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
    color: #fff
}
.background-color-electric {
    background: -webkit-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: -ms-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: -moz-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: -o-linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background: linear-gradient(180deg, #eed535 50%, #eed535 50%);
    background-color: #eed535;
    color: #212121
}
.background-color-fairy {
    background: -webkit-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: -ms-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: -moz-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: -o-linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background: linear-gradient(180deg, #fdb9e9 50%, #fdb9e9 50%);
    background-color: #fdb9e9;
    color: #212121
}
.background-color-fighting {
    background: -webkit-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: -ms-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: -moz-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: -o-linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background: linear-gradient(180deg, #d56723 50%, #d56723 50%);
    background-color: #d56723;
    color: #fff
}
.background-color-fire {
    background: -webkit-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background: -ms-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background: -moz-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background: -o-linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background: linear-gradient(180deg, #fd7d24 50%, #fd7d24 50%);
    background-color: #fd7d24;
    color: #fff
}
.background-color-flying {
    background: -webkit-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -ms-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -moz-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: -o-linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: #212121
}
.background-color-ghost {
    background: -webkit-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: -ms-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: -moz-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: -o-linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background: linear-gradient(180deg, #7b62a3 50%, #7b62a3 50%);
    background-color: #7b62a3;
    color: #fff
}
.background-color-grass {
    background: -webkit-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background: -ms-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background: -moz-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background: -o-linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background: linear-gradient(180deg, #9bcc50 50%, #9bcc50 50%);
    background-color: #9bcc50;
    color: #212121
}
.background-color-ground {
    background: -webkit-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -ms-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -moz-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: -o-linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
    color: #212121
}
.background-color-ice {
    background: -webkit-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: -ms-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: -moz-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: -o-linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background: linear-gradient(180deg, #51c4e7 50%, #51c4e7 50%);
    background-color: #51c4e7;
    color: #212121
}
.background-color-normal {
    background: -webkit-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: -ms-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: -moz-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: -o-linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background: linear-gradient(180deg, #a4acaf 50%, #a4acaf 50%);
    background-color: #a4acaf;
    color: #212121
}
.background-color-poison {
    background: -webkit-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: -ms-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: -moz-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: -o-linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background: linear-gradient(180deg, #b97fc9 50%, #b97fc9 50%);
    background-color: #b97fc9;
    color: #fff
}
.background-color-psychic {
    background: -webkit-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: -ms-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: -moz-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: -o-linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background: linear-gradient(180deg, #f366b9 50%, #f366b9 50%);
    background-color: #f366b9;
    color: #fff
}
.background-color-rock {
    background: -webkit-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: -ms-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: -moz-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: -o-linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background: linear-gradient(180deg, #a38c21 50%, #a38c21 50%);
    background-color: #a38c21;
    color: #fff
}
.background-color-steel {
    background: -webkit-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: -ms-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: -moz-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: -o-linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background: linear-gradient(180deg, #9eb7b8 50%, #9eb7b8 50%);
    background-color: #9eb7b8;
    color: #212121
}
.background-color-water {
    background: -webkit-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background: -ms-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background: -moz-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background: -o-linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background: linear-gradient(180deg, #4592c4 50%, #4592c4 50%);
    background-color: #4592c4;
    color: #fff
}