.menu-container{
	width: 100%;
	height: $menu-height;
	background-color: $main-color;
	padding: 5px;
	top: 0;
	position: fixed;
	box-shadow: 0px 0px 5px #333;
	font-size: 28px;
	padding-top: 5px;
	color: #fff;
	> img{
		width: 30px;
	}
}